
<%- include("./partials/header") %>
<div class="ui main text container">
	<div class="ui huge header"><%= blog.title %></div>
	<div id="box" class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image huge" src="<%= blog.image %>"></img>
		<div>
	</div>

	<br>

		<div class="content">
			<span><%= blog.created.toDateString() %></span>
		</div>
		<br>
	
		<div class="description">
			<p><%- blog.body %></p>
		</div>
		<br>
		<div class="btns">
		<a class="ui inverted brown button huge" href="/blogs/<%= blog._id %>/edit">Edit</a>
		<form id="delete" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
		<button class="ui inverted red button huge">Delete</button>
		</div>
</div>
<%- include("./partials/footer") %>